.order{
  background-color: #e5ece7;
  display: flex;
  align-items: center;
  height: 50px;

  &__date {
    font-weight: 600;
    flex: 1 1;
    padding: 0 10px;
  }

  &__info {
    display: flex;
    align-items: stretch;
    height: 70%;

    &-item {
      flex-shrink: 0;
      padding: 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
  
      &:not(:last-child) {
        border-right: 1px solid rgb(186, 214, 211);
      }
    }
  }

  &__btn {
    padding: 0 10px;
  }
}